/*Dimensions არის ზომებისიგრძე სიმაღლე და სხვა მისი ელემენტებია პიქსელები და პროცენტები
 Pixel  არის ყველაზე მცირე წერტილი მონიტორზე ყველა მოწყობილობაზე განსხვავებული ზომისაა
Responsive ვებ-გვერდის დიზაინი ნიშნავ რომ გვერდი სწორად ჩანს სხვადასხვა ზომის ეკრანებზე
ელემენტები ავტომატურად ადაპტირდებიან მშობელ ელემენტზე მარტივად ხდება სხვადასხვა მოწყობილობაზე თანმიმდევრული განლაგება.*/

 #xexe {
    width: 200px; 
    height: 100px; 
    background-color: rgb(0,0,255);
}
#x{
    width: 100px;
    height: 50px; 
    background-color: rgb(255,0,0);
}
#xex{
    width: 150px; 
    height: 70px; 
    background-color: rgb(0,255,0);
}
#xexe{
    color: #FF5733;
     font-size: 36px;
}
.nu{
    color: rgb(117, 105, 183);
}
.ge{
    color: #FF5733;
}