/*pseudo selectors - სელექტორის ტიპი რომელიც ცვლის ელემენტების მდგომარეობას
:link - განსაზღვრავს ლინკების სტილს სანამ მომხმარებელი მას გამოიყენებს
:hover - განსაზღვრავს ელემენტების სტილს როდესაც კურსორით ზემოდან გადაუსვამ
:active - განსაზღვრავს ელემენტის სტილს როცა მას ვიყენებთ
:visited - განსაზღვრავს ელემენტის სტილს როცა ის უკვე გამოვიყენეთ
*/


a:link{
color: rgb(0, 255, 64);
}
a:visited{
color: purple;
}
a:hover{
color: rgb(255, 0, 136);
}
a:active{
color: rgba(0, 6, 128, 0.422);
}